* {
    font-family:  'Helvetica', Arial, sans-serif;
}

.title {
    text-align: center;
    font-size: xx-large;
}

.title_highlight2 {
    background-color: yellow;
}

.main_directory {
    text-align: center;
    text-decoration: none;
}

.recipes {
    display: inline-block;
    text-align: center;
    font-size: larger;
    list-style: none;
    text-decoration: none;
}

.recipes:link {
    text-decoration: none;
    color: black;
}

.recipes_item {
    text-decoration: none;
    position: relative;
}

.recipes_item:hover::before {
    bottom: 0;
    height: 100%;
}

.recipes_item:visited{
    color: black
}

.recipes_item::before {
    content: '';
    background-color: yellow;
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 8px;
    z-index: -1;
    transition: all .3s ease-in-out;
}